@import './SiteVariables.module.scss';

.about {
    padding: 4rem 0;
  }
  .aboutCenter {
    width: 80vw;
    margin: 0 auto;
  }
  .aboutImg {
    margin: 3rem 0;
  }
  .aboutInfo {
    margin-top: 3rem;
  }
  .aboutImg {
    position: relative;
  }
  
  .aboutImg img {
    width: 100%;
    display: block;
    box-shadow: $lightShadow;
  }
  .aboutImg div {
    box-shadow: $lightShadow;
  }
  .aboutInfo h4 {
    font-size: 1.9rem;
    text-transform: uppercase;
  }
  
  @media screen and (min-width: 768px) {
    .about-center {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3rem;
      align-items: center;
      margin-top: 3rem;
    }
  
    .aboutImg,
    .aboutInfo {
      margin: 0;
    }
    .aboutImg img {
      max-height: 500px;
    }
    .imgContainer {
      max-height: 500px;
    }
    .aboutInfo p {
      width: 80%;
    }
  }
  @media screen and (min-width: 992px) {
    .imgContainer::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: 3px solid var(--primaryColor);
      box-sizing: border-box;
      top: -16px;
      left: -16px;
      z-index: -1;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .aboutCenter {
      width: 95vw;
      max-width: 1170px;
    }
  }
  