@import url("https://fonts.googleapis.com/css?family=Lato|Poppins|Chewy");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: $mainBlack;
  background: $mainWhite;
  line-height: 1.4;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: $mainSpacing;
  
}
p {
  margin-bottom: 1.25rem;
}
a {
  text-decoration: none;
}

main {
  /* ensures footer stays at bottom */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}