@import './SiteVariables.module.scss';

.defaultHero {
  min-height: calc(100vh - 62px);
  background: linear-gradient(rgba(63, 208, 212, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/defaultBcg.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnWhite,
.btnHero,
.btnPrimary {
  text-transform: uppercase;
  letter-spacing: $mainSpacing;
  color: $mainWhite;
  border: 2px solid $mainWhite;
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: $mainTransition;
  cursor: pointer;
}
.btnWhite:hover, .btnHero:hover {
  background: $mainWhite;
  color: $primaryColor;
}
.btnPprimary, .btnHero {
  background: $primaryColor;
  color: $mainWhite;
  border: 2px solid $primaryColor;
}
.btnPrimary:hover {
  background: transparent;
  color: $primaryColor;
}
