//Colors
$primaryColor: #ff8001;
$mainWhite: #fff;
$offWhite: #f7f7f7;
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #afafaf;

// Effects
$mainTransition: all 0.3s linear;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

// Spacing & margins
$mainSpacing: 4px;

